<div style="width: 300px; margin-bottom: 20px;">
    <h3>Test Template</h3>

    <div class="panel panel-info">
        <button
            class="btn btn-default"
            [ngClass]="{ 'btn-danger': isOpen, 'btn-default': !isOpen }"
            (click)="isOpen = !isOpen"
        >
            <span *ngIf="!isOpen"><i class="glyphicon glyphicon-scissors"></i></span>
            <span *ngIf="isOpen"><i class="glyphicon glyphicon-remove-sign"></i></span>
        </button>
        <div id="target1" class="panel-body">
            <ng2-screenshot [isOpen]="isOpen">
                <ng2-screenshot-toolbox>
                </ng2-screenshot-toolbox>
                <button class="btn btn-danger">Danger</button>
            </ng2-screenshot>
        </div>
    </div>
</div>
