<header-component tagline="Screenshot library with toolbox."></header-component>

<section class="main-content">

  <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demo</h3>
  
  <div>
    <basic-demo></basic-demo>
  </div>
  
  <h3><a id="features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Features</h3>
    <ul>
      <li>Screen capture</li>
      <li>Custom toolbox</li>
    </ul>

</section>