<h2>Control with target element</h2>
<h3>
    <a id="step1" class="anchor" href="#step1" aria-hidden="true"
        ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Step1: import module
</h3>
<pre>
    <code highlight class="typescript">{{ snippets.moduleRequire }}</code>
</pre>

<h3>
    <a id="step2" class="anchor" href="#step2" aria-hidden="true"
        ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Step2: create component template
</h3>
<pre>
    <code highlight class="typescript">{{ snippets.targetElementTemplate }}</code>
</pre>

<div>
    <nz-switch [(ngModel)]="isOpen" [nzCheckedChildren]="checkedTemplate"></nz-switch>
    <ng-template #checkedTemplate><i nz-icon nzType="scissor"></i></ng-template>
    <p></p>
    <ng2-screenshot [target]="'#target'" [isOpen]="isOpen" (isOpenChange)="isOpenChange($event)">
        <ng2-screenshot-toolbox></ng2-screenshot-toolbox>
    </ng2-screenshot>

    <nz-card id="target">
        <h1 nz-title>This card component with id #target</h1>
        <p>I understand that I am addressing a very sensitive topic;</p>
        <p>I will probably offend many readers that will say that I am an insane troll and my views are bullshit.</p>
        <p>Offending is not my objective</p>
        <p>but I stand by my opinions. Of course comments are here to for you to voice your opinion</p>
        <p>And yes this piece is biased by my past experiences, but that’s the value of it,</p>
        <p>sharing my experiences.</p>
    </nz-card>
    <p></p>
    <nz-card>
        <h1 nz-title>This card component is not the target</h1>
        <p>I understand that I am addressing a very sensitive topic;</p>
        <p>I will probably offend many readers that will say that I am an insane troll and my views are bullshit.</p>
        <p>Offending is not my objective</p>
        <p>but I stand by my opinions. Of course comments are here to for you to voice your opinion</p>
        <p>And yes this piece is biased by my past experiences, but that’s the value of it,</p>
        <p>sharing my experiences.</p>
    </nz-card>
</div>
