<header-component tagline="Examples"></header-component>
<div class="main-content">
  <nav class="fixed-sidebar">
    <h4>Examples</h4>
    <ul class="examples-menu">
      <li><a routerLink="./target-element" routerLinkActive="active">Control with target element</a></li>
      <li><a routerLink="./custom-toolbox-template" routerLinkActive="active">Custom toolbox template</a></li>
      <li><a routerLink="./advance-usage" routerLinkActive="active">Advance usage</a></li>
    </ul>
  </nav>
  <div class="main-content-body">
    <router-outlet></router-outlet>
  </div>
</div>
