<h2>Advance Usage</h2>

<h3>
    <a id="download-full" class="anchor" href="#download-full" aria-hidden="true"
        ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Download full dom content
</h3>
<pre>
    <code highlight class="typescript">{{ snippets.downloadFull }}</code>
</pre>

<download-full-demo></download-full-demo>


<h3>
    <a id="print" class="anchor" href="#print" aria-hidden="true"
        ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Print selected section
</h3>
<pre>
    <code highlight class="typescript">{{ snippets.print }}</code>
</pre>

<print-demo></print-demo>